html{
    font-family: 'Prompt', sans-serif;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

nav{
    position: relative;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

#prima-scarpa{
    background-color: coral;
}

#seconda-scarpa{
    background-color: cornflowerblue;
}

#terza-scarpa{
    background-color:lightgreen;
}

.container .img-wrapper{
    width: calc(50vw + 10px);
    color:navy;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    /* centratura rispetto alla viewport */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

}

.img-wrapper > img:hover{
    transform: scale(1.2 , 1.2);
}

#direct-link {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

nav > ul{
    padding: 20px 20px;
}

li{
    display: inline-block;
    width: calc(2vw + 20px);
    height: calc(2vw + 20px);
    border-radius: 100%;
    padding: 20px;
    margin-left: 10px;
    background-color: rgba(255,255,255,0.4);
    position: relative;
}

a{
    text-decoration: none;
    color: currentColor;
    font-weight: 800;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

li:hover a{
    color: crimson;
}